version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: filament_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - filament_network
    depends_on:
      - mysql
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=filament
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - PUID=1000
      - PGID=1000

  webserver:
    image: nginx:alpine
    container_name: filament_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - filament_network
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: filament_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: filament
    ports:
      - "3306:3306"
    networks:
      - filament_network
    volumes:
      - mysql_data:/var/lib/mysql

networks:
  filament_network:

volumes:
  mysql_data:
